@import "tailwindcss";

@theme {
  --color-slate-900: #0f172a;
}

@layer base {
  body {
    background-color: var(--color-slate-900);
    color: #f1f5f9;
    /* slate-100 */
    @apply antialiased h-screen overflow-hidden;
  }

  #root {
    @apply h-full w-full;
  }
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #334155;
  /* slate-700 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #475569;
  /* slate-600 */
}